{% extends "layouts/private.twig" %}

{% block title %}CARRITO{% endblock %}

{% block style %}
    
{% endblock %}

{% block content %}

<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-image">Producto </th>
									<th class="product-name">Precio</th>
									<th class="product-price">Cantidad</th>
								</tr>
							</thead>
							<tbody>
								{# Mostrar cada elemento de mi carrito como una fila  #}
								{% set total = 0 %}
								{% for i in carrito %}
								<tr class="table-head-row">
									<th class="product-image">{{ i.producto_id }} </th>
									<th class="product-name">{{ i.precio }}</th>
									<th class="product-price">{{ i.cantidad }}</th>
									{% set total = total + (i.precio * i.cantidad) %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<br>
						
						<input type="submit" value="Actualizar carrito">
						</form>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Tipo</th>
									<th>Precio</th>
								</tr>
							</thead>
							<tbody>
								<tr class="table-total-row">
									<th>Total articulos</th>
									<th>{{ total }}</th>
								</tr>
								<tr class="table-total-row">
									<th>Envio</th>
									<th>10€</th>
								</tr>
								<tr class="table-total-row">
									<th>Total</th>
									<th>{{ total + 10 }}€</th>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->
{% endblock %}

{% block script %}

{% endblock %}